version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: challenge_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '${POSTGRES_PORT:-5433}:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
